:root {
  --color-selected: #109cf1;
  --color-progress: #2ed47a;
  --color-danger: #f7685b;
  --color-divider: #ebeff2;
  --color-dropdowns: #6a707e;
  --color-background: #f5f6f8;
  --color-profile-gray: #4c5862;

  --color-accent-blue: #109cf1;
  --color-accent-yellow: orange;
  --color-icons: #c2cfe0;
}

* {
  box-sizing: border-box !important;
  margin: 0 !important;
  font-family: Poppins;
  font-weight: 400;
}

.fas,
.far {
  color: var(--color-icons);
}


.container-fluid {
  min-height: 100vh !important;
}

.container-flex {
  height: 100%;
}

nav,
nav input::placeholder {
  color: #90a0b7 !important;
}

nav input {
  border: 0px transparent !important;
  border-radius: 100px !important;
  color: Black !important;
}

.bold {
  font-weight: 500 !important;
}

.color-selected {
  color: var(--color-selected);
}

.color-dropdowns {
  color: var(--color-dropdowns);
}
.color-profile-gray {
  color: var(--color-profile-gray);
}

.color-progress {
  background-color: var(--color-progress);
}

.color-danger {
  background-color: var(--color-danger);
}

.accent-blue {
  color: var(--color-accent-blue);
}

.img-24 {
  width: 35px;
  height: auto;
}

.marker-ring {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  border: 2px solid;
}

.marker-blue {
  color: var(--color-accent-blue);
}

.marker-yellow {
  color: var(--color-accent-yellow);
}

.marker-green {
  color: var(--color-progress);
}

.marker-red {
  color: var(--color-danger);
}

.dashboard-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.date-selected {
  background-color: var(--color-accent-blue);
  color: white;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  width: 30px;
  border-radius: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-circle {
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.bell-wrapper {
  display: inline-block;
  position: relative;
}

.fa-bell {
  float: right;
  font-size: 1.2rem;
}

#main > div {
  background-color: white;
}

.bkg-gray {
  background-color: var(--color-background) !important;
}

#content-wrapper > div {
  background-color: white;
}

#main {
  background-color: var(--color-background);
}

#deals,
#tasks {
  background-color: white;
  max-height: 50%;
}

.img-blue-graph {
  background-image: url("../images/Graph.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-circular-graph {
  background-image: url("../images/60.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100%;
}

.min-h {
  height: min-content;
}

.min-100 {
  min-height: 100%;
}

.border-1 {
  border: 2px solid red;
}

.form-control:not(input):hover,
.form-control > option :hover {
  cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}

.btn-fixed-120 {
  min-width: 120px !important;
}

.show-more:hover {
  text-decoration: none;
}

.icons-wrapper > .fas {
  padding-right: 1rem;
}

.icons-wrapper > .fas:hover {
  color: var(--color-accent-blue);
  cursor: pointer;
}

.img-30 {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
#dashboard {
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  z-index: 2000;
}

.menu {
  list-style: none;
  padding-inline-start: 0;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu li span:hover {
  cursor: pointer;
}

.border-2 {
  border: 2px solid green!important
}
.logo {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background: #c4c4c4;
  display: flex;
  align-items: center;
}
.white-bar {
  position: relative;
  width: 2px;
  height: 10px;
  left: 4px;
  background: #ffffff;
  border-radius: 1px;
}
.min-300px{
  min-height: 300px;
}
.graph-class{
  max-height: 100%;
}

@media only screen and (max-width : 1200px) {
  #cards-holder{
    margin-top: 3rem!important;
    margin-left:0!important
  }
}
@media only screen and (max-width : 992px) {
  #content-wrapper{
      margin:0!important;
  }
  #cards-holder{
    margin-top: 0!important;
    margin-left:0!important
  }
  #deals{
    margin:0!important;
  }
}
.image-content{
  width:100%;
  height:100%;
}
