:root {
  --color-selected:#109CF1;
  --color-progress: #2ED47A;
  --color-danger: #F7685B;
  --color-divider: #EBEFF2;
  --color-dropdowns: #6A707E;
  --color-soft-text:#4C5862;
}

html,
body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0!important;
  font-family: Poppins;
  font-weight: 400;
}
.container-flex {
  height: 100%;
}

.tob-bar{
    height:60px
}

nav, nav input::placeholder{
  color: #90A0B7!important;
}

nav input{
  border: 0px transparent!important;
  border-radius:100px!important;
  color:Black!important;
}

.bold {
  font-weight: 500!important;
}

h6{
  font-size: .9rem;
  line-height: 1.8rem;
  /* font-weight: 400; */
  
}

h5{
  font-size: 1.2rem;
  line-height: 4rem;
}
.color-selected{
  color: var(--color-selected)
}
.color-dropdowns{
  color: var(--color-dropdowns)
}
.color-progress{
  background-color: var(--color-progress)
}
.color-danger{
  background-color: var(--color-danger)
}
.card h5, .card h6 {
  font-size: 1rem;
  line-height: 1rem;
}

.caca{
border: 1px solid red
}
img{
  width:24px;
  height:auto;
}

.coco {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  border: 2px solid #109CF1;
  position: absolute;
}