:root {
  --color-selected: #109cf1;
  --color-progress: #2ed47a;
  --color-danger: #f7685b;
  --color-divider: #ebeff2;
  --color-dropdowns: #6a707e;
  --color-background: #f5f6f8;
  --color-soft-text: #4c5862;
  --color-accent-blue: #109cf1;
  --color-accent-yellow: orange;
}

* {
  box-sizing: border-box!important;
  margin: 0 !important;
  font-family: Poppins;
  font-weight: 400;
}

html{
  display: block;
  width:100%;
}

body{
  width:100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* 
body > div{
  border: 4px solid blue
}
#main-row{ 
  border: 4px solid violet
}
#dashboard, #fucking-main{ 
  border: 4px solid purple
}
 */


.container-fluid{
  min-height: 100vh!important;
}
.container-flex {
  height: 100%;
}

nav,
nav input::placeholder {
  color: #90a0b7 !important;
}

nav input {
  border: 0px transparent !important;
  border-radius: 100px !important;
  color: Black !important;
}

.bold {
  font-weight: 500 !important;
}

.color-selected {
  color: var(--color-selected);
}
.color-dropdowns {
  color: var(--color-dropdowns);
}
.color-progress {
  background-color: var(--color-progress);
}
.color-danger {
  background-color: var(--color-danger);
}
.accent-blue {
  color: var(--color-accent-blue);
}

.img-24 {
  width: 24px;
  height: auto;
}

.marker-ring {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  border: 2px solid
}

.marker-blue{
   color: var(--color-accent-blue)
}
.marker-yellow{
   color: var(--color-accent-yellow)
}
.marker-green{
   color: var(--color-progress)
}
.marker-red{
   color: var(--color-danger)
}


.dashboard-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}


.data {
  white-space: pre;
}

.date-selected {
  display: inline-block;
  background-color: var(--color-accent-blue);
  background-size: auto 100%;
  border-radius: 100px;
}
.days {
  padding: 0 10px;
}

.special {
  border: 2px dashed coral;
}

.red-circle {
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.bell-wrapper {
  display: inline-block;
  position: relative;
}
.fa-bell {
  float: right;
}

#fucking-main > div {
  background-color: white;
}

.bkg-gray {
  background-color: var(--color-background) !important;
  
}

#content-wrapper > div {
  background-color: white;  border: 4px solid yellow

}

#fucking-main {
  background-color: var(--color-background);
}

.min-h{
  height:min-content
}

#deals, #tasks{
  background-color: white;
  max-height: 50%;  
}


.img-blue-graph{
  background-image: url("../images/Graph.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-circular-graph{
  background-image: url("../images/60.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.min-100{
  min-height: 100%;
}